header {
    display: block;
    background-color: white;
    padding: 20px
}

nav {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: white;
    width: 20%;
    height: 100%;
    float: left;
    padding-bottom: 1000px;
    padding-right: 10px;
    margin-right: 5px;
    padding-top: 20px;
    margin-top: 0;
    
}



#container {
    background-color: white;
    width: 80%;
    padding: 20px;
}

#content {
    background-color: white;
    width: 70%;
    float: right;
}

#sitename {
    margin-top:0;
}

#tagline {
    margin-bottom: 0;
}

#sitename {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 1.8em;
}

#sitename:hover {
    font-family: "courier new";
    font-weight: 600;
    letter-spacing: 0.3em;
    color: tomato;
    text-transform: uppercase;
}
#tagline {
    font-family: "courier new";
    font-weight: 500px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

#tagline:hover{
    text-transform: lowercase;
}

a:link {
    text-decoration: none;
    font-family: "courier new";
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color:black;
}
a:hover {
    text-decoration: none;
    font-size: 0.5em;
    background-color: tomato;
    font-family: "courier new";
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -0.1em;
    color: pink
}
a:active {
    text-decoration: underline;
    font-size: 1.5em;
    background-color: pink;
    color: tomato;
    font-weight: 500;
    font-family: "courier new";
    letter-spacing: 1.2em;
}

h1 {
    font-family: sans-serif;
    font-weight: 800;
    padding: 30px;
}
h1:hover {
    letter-spacing: 0.3em;
    font-size: 1.3em;
}
p {
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.3em;
    padding-left: 20px;
    padding-right: 20px;
}
#box-right {
    padding: 20px;
    font-family: "courier new";
    font-size: 0.8em;
    line-height: 1.2em;
    text-transform: lowercase;
    background-color: white;
    width: 30%;
    float: right;
}

#image {
    height: 60%;
    width: 60%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    display: block;
    background-color: white;
    clear: both;
    font-family: "courier new";
    font-size: 0.5em;
    text-transform: uppercase;
    padding-left: 400px;
    padding-right: 400px;
    
}

span.color1,
span.color2,
span.color3,
span.color4,
span.colorabout1,
span.colorabout2,
span.colorabout3,
span.colorabout4, {
    color: black;
    cursor: cell;
    transition: color 3s;
    transition-delay: 1s;
}
span.colorfixe1 {color: #2559b9; transition-delay: .1s;}
span.colorfixe2 {color: #218a46; transition-delay: .1s;}
span.colorfixe3 {color: #eab35e; transition-delay; .1s;}
span.colorfixe4 {color: #ff9c9c; transition-delay; .1s;}
span.color1:hover, span.color1.active {color: #2559b9; transition: color 0s;}
span.color2:hover, span.color2.active {color:#218a46; transition: color 0s;}
span.color3:hover, span.color3.active { color: #eab35e; transition: color 0s;}
span.color4:hover, span.color4.active {color: #ff9c9c; transition: color 0s;}
span.colorabout1:hover { color:#7b47ff; transition: color 0s; }
span.colorabout2:hover {color: #15956f; transition: color 0s; }
span.colorabout3:hover {color:#ffffff; transition: color 0s; }
span.colorabout4:hover {color: #d32626; transition: color 0s; }

